<article class="article-list--compact">
    <a href="{{ .RelPermalink }}">
        
        <div class="custom-card-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="4 17 10 11 4 5"></polyline>
                <line x1="12" y1="19" x2="20" y2="19"></line>
            </svg>
        </div>

        <div class="article-details">
            <h2 class="article-title">
                {{- .Title -}}
            </h2>
            
            <footer class="article-meta">
                {{- if not .Date.IsZero -}}
                    <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                        {{- .Date | time.Format .Site.Params.dateFormat.published -}}
                    </time>
                {{- end }}
            </footer>
        </div>
    </a>
</article>